---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col">
    <Header title={SITE_TITLE} />
    <!-- Intro -->
    <section class="flex flex-col justify-center self-center">
      <span class="text-xl">Full Stack Developer</span>
    </section>
    <!-- Main -->
    <main class="flex flex-col justify-center">
      <!-- Projects -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
