---
interface Item {
  title: string;
  description: string;
  img: string;
}

export interface Props {
  title?: string;
  items: Array<Array<Item>>;
}

const { title = await Astro.slots.render("title"), items = [] } = Astro.props;
---

<section>
  {title && <h2>{title && <h2 set:html={title} />}</h2>}
  {
    items.map((subitems) => (
      <div>
        {subitems.map(({ title, description,img }) => (  
            <h3 class=" text-xl font-bold">{title}</h3>
            <p set:html={description} />
            <img src={img} alt=""/>
        ))}
      </div>
    ))
  }
</section>
