---
interface Item {
  title: string;
  description: string;
  img: string;
}

export interface Props {
  title?: string;
  items: Array<Array<Item>>;
}

const { title = await Astro.slots.render("title"), items = [] } = Astro.props;
---

{title && <h2>{title && <h2 class="self-center" set:html={title} />}</h2>}
{
  items.map((subitems) => (
    <section class="flex justify-self-center flex-wrap">
      {subitems.map(({ title, description, img }) => (
        <section class="flex basis-1/2 flex-wrap px-12">
          <h3 class=" text-xl font-bold">{title}</h3>
          <p set:html={description} />
          <img class="w-36" src={img} alt="" />
        </section>
      ))}
    </section>
  ))
}
