---
interface Item {
  title: string;
  description: string;
  icon?: string;
}

export interface Props {
  title?: string;
  items: Array<Array<Item>>;
}

const { title = await Astro.slots.render("title"), items = [] } = Astro.props;
---

<section class="">
  {title && <div class="">{title && <h2 set:html={title} />}</div>}
  {
    items.map((subitems) => (
      <div>
        {subitems.map(({ title, description }) => (  
            <h3 class="mb-3 text-xl font-bold">{title}</h3>
            <p class="text-muted " set:html={description} />
        ))}
      </div>
    ))
  }
</section>
