body {
  font-size: larger;
  max-width: 100vw;
  background-color: whitesmoke;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5em;
}
nav a {
  margin-right: 10px;
}

:root {
  --darkmode-color: #131415;
}
