---
import MySiteLayout from "../layouts/IndexLayout.astro";
---
<MySiteLayout title="404">
    <div class="flex">
        <div class="w-full max-w-[320px] sm:max-w-[620px] mx-auto self-center">
          <h1 class="text-4xl">Diego's Blog</h1>
          <p class="text-3xl text-white/6 mt-4">
           <span class="text-6xl">404</span> Whoops this page doesn't exist 
          </p>
          <button class="mt-4 bg-blue px-2 py-4 rounded-lg text-3xl">
            <a href="/" class="text-lime-600 underline hover:[text-shadow:0_0_5px_#16a34a]">Go to Home Page</a>
          </button>
          </Link>
        </div>
    </div>

</MySiteLayout>