---
import MySiteLayout from "../layouts/IndexLayout.astro";
import Projects from "../components/Projects.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeaderLink from "../components/HeaderLink.astro";
---

<MySiteLayout title="Home Page">
  <section
    class="mx-auto flex-wrap w-full max-w-7xl lg:px-8 pl-5 flex border-solid border-slate-500 dark:border-slate-100 border-l-2 border-r-2"
  >
    <img
      src="https://media.licdn.com/dms/image/D5603AQH-TAZfdZHUbA/profile-displayphoto-shrink_400_400/0/1700527515624?e=1706140800&v=beta&t=cdM1-bbUXQGBN2YMo87__zGYbN_JrExBiTmq0EBFAAA"
      alt=""
      class="w-24 h-24 rounded-full object-cover justify-start self-start border-solid border-2 border-purple-600"
    />
    <div class="flex-1" style=":flex: 1 1 50%;">
      <h1 class="capitalize text-5xl">
        {SITE_TITLE}
      </h1>
      <p class="text-xl sm:w-2/3">
        Software developer, love coding in flow state, always seeking new
        challenges, outdoors lover
      </p>
    </div>
    <div style="flex: 1 1 100%;">
      <HeaderLink href="https://github.com/DHHZ19" target="_blank">
        GitHub
      </HeaderLink>
      <HeaderLink
        href="https://linkedin.com/in/diegohernandezcode"
        target="_blank"
      >
        Linkedin
      </HeaderLink>
      <HeaderLink href="https://twitter.com/DiegoCode_" target="_blank">
        Twitter
      </HeaderLink>
    </div>
  </section>
  <section
    class="mx-auto w-full max-w-7xl lg:px-8 p-5 border-solid border-slate-500 dark:border-slate-100 border-l-2 border-r-2"
  >
    <ol class="">
      <li>
        <span class="text-2xl font-bold">Currently</span>
        <li class="pl-4">Front End Developer at Outsell</li>
        <li class="pl-4">Exploring / Studying / Practicing</li>
      </li>
      <li>
        <span class="text-2xl font-bold">Previously</span>
        <li class="pl-4">Web Developer at NCXT</li>
        <li class="pl-4">Software Engineer at 100Devs</li>
        <li class="pl-4">Freelance Dev</li>
      </li>
    </ol>
  </section>
  <Projects title="Projects / Work" />
</MySiteLayout>
