---
import MySiteLayout from "../layouts/IndexLayout.astro";

const PAGE_TITLE = "Projects";
---

<MySiteLayout title={PAGE_TITLE}>
  <section
    class="mx-auto flex-wrap w-full max-w-7xl lg:px-12 pl-5 flex text-center"
  >
    <span>{PAGE_TITLE}, coming soon</span>
  </section>
</MySiteLayout>
