---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <!-- Intro -->
    <section class="">
      <h1>
        Diego<br />
        Hernandez
      </h1>
      <span>Full Stack Developer</span>
    </section>
    <!-- Main -->
    <main>
      <!-- Projects -->
      <Projects
        title="My Projects/Work"
        items={[
          [
            {
              title: "Roofing",
              description:
                "Investments as big as replacing your home's roof we want to offer every resource necessary from inspections to repairs, and full installations.",
            },
            {
              title: "Siding",
              description:
                "Maintaining siding is a crucial part of your home's exterior whether you are replacing or updating your exterior. We offer inspection and installments for your convenience. ",
            },
          ],
          [
            {
              title: "Storm Damage & Maintenance",
              description:
                "Unforeseen events such as harsh storms and hail cause damage to your home, rely on our team to relieve stress from your shoulders and make the necessary repairs. In cases where storm damage has occurred we offer around the clock repairs.",
            },
            {
              title: "Roof Repairs",
              description:
                "When a full roof replacement is not necessary due to the area that needs to be prioritized is minimal, a roof repair is the most effective to longate the age of your roof.",
            },
          ],
        ]}
      />
      <!-- Footer -->
      <footer>
        <section>
          <h3>Location</h3>
          <p>Minneaplois, Minnesota</p>
          <section>
            <h3>Email</h3>
            <p>
              <a href="mailto:diegohern777@gmail.com">diegohern777@gmail.com</a>
            </p>
          </section>
        </section>
        <Footer />
      </footer>
    </main>
  </body>
</html>
