---
import MySiteLayout from "../layouts/IndexLayout.astro";
import Projects from "../components/Projects.astro";
---

<MySiteLayout title="Home Page">
  <main class="flex flex-col justify-center">
    <h3 class="text-center">Full Stack Developer</h3>
    <!-- Projects -->
    <Projects
      title="My Projects/Work"
      items={[
        [
          {
            title: "PROEJCT",
            img: "http://placekitten.com/g/200/300",
            description: "",
          },
          {
            title: "PROEJCT",
            img: "http://placekitten.com/g/200/300",
            description: "",
          },
          {
            title: "PROEJCT",
            img: "http://placekitten.com/g/200/300",
            description: "",
          },
          {
            title: "PROEJCT",
            img: "http://placekitten.com/g/200/300",

            description: "",
          },
        ],
      ]}
    />
  </main>
</MySiteLayout>
