---
import MySiteLayout from "../layouts/IndexLayout.astro";
---

<MySiteLayout title="Skillz Page">
  <div class="text-center w-1/2">
    <h2 class="font-semibold text-2xl">My skillz</h2>
    <p>
      <span class="font-semibold">Proficent:</span> with HTML, CSS, Typescript, C#,
    </p>
    <p>
      ⭐ I've built many project with many diffrent coding languages in my past.
      Currently I am focusing on HTML, CSS, JavScript. I am excited to keep
      learning and expanding the language I know.
    </p>
  </div>
  <div class="flex -space-x-2 overflow-hidden justify-center">
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/HTML5_Badge.svg"
      alt=""
    />
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/CSS3_Badge.svg"
      alt=""
    />
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/JS_Badge.svg"
      alt=""
    />
  </div>
</MySiteLayout>
