---
import MySiteLayout from "../layouts/IndexLayout.astro";
---

<MySiteLayout title="Skillz Page">
  <div class="">
    <h2 class="font-semibold text-2xl py-1">My skillz</h2>
    <p class="">
      I've worked on entrprise level applications, helping compaines deliver
      what they promise and much more. I work with care and efficency while
      optimizing code for best performance for millions of end users.
    </p>
  </div>
  <div class="flex -space-x-2 overflow-hidden justify-center">
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/HTML5_Badge.svg"
      alt=""
    />
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/CSS3_Badge.svg"
      alt=""
    />
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173442/JS_Badge.svg"
      alt=""
    />
  </div>
</MySiteLayout>
