---
const today = new Date();
---

<!-- Footer -->
<footer
  class="p-2 dark:bg-[color:var(--darkmode-color)] dark:text-white h-screen"
>
  <section>
    <span>
      <span class="font-bold">Locaction:</span> Minneaplois, Minnesota</span
    >
    <span>
      <span class="font-bold">Email:</span>
      <a href="mailto:diegohern777@gmail.com">diegohern777@gmail.com</a>
    </span>
  </section>
  &copy; {today.getFullYear()} Diego Hernandez. All rights reserved.
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
