---
const today = new Date();
---

<!-- Footer -->
<footer class="p-2 dark:bg-[color:var(--darkmode-color)] mt-32">
  <section>
    <span>
      <span class="font-bold">Locaction:</span> Minneapolis, Minnesota
      <br />
      &copy;
      {today.getFullYear()} Diego Hernandez. All rights reserved.
    </span>
  </section>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
