---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  class="block rounded-lg px-6 py-2 font-2xl cursor-pointer bg-neutral-200 dark:bg-neutral-500 dark:hover:text-violet-500 hover:text-violet-600"
>
  <slot />
</a>
<style>
  a.active {
    font-weight: bolder;
    color: rgb(124 58 237);
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  @media (prefers-color-scheme: dark) {
    a.active {
      color: rgb(167 139 250);
    }
  }
</style>
