---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  class="text-stone-800 block rounded-md px-3 py-2 font-2xl cursor-pointer"
>
  <slot />
</a>
<style>
  a.active {
    font-weight: bolder;
    color: blueviolet;
    text-decoration: underline;
  }
  a:hover {
    color: blueviolet;
  }
</style>
