---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="flex flex-1 justify-end md:justify-center">
  <HeaderLink href="/">Me</HeaderLink>
  <HeaderLink href="/skillz">Skillz</HeaderLink>
  <HeaderLink href="/blog">Blog</HeaderLink>
</nav>
